<nav class="bg-gray-800 p-4 text-white flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-2 sm:space-y-0">
  <div class="text-lg font-bold">
    <%= link_to "トップ", root_path, class: "hover:underline" %>
  </div>
  <div class="flex flex-col sm:flex-row sm:space-x-4 space-y-2 sm:space-y-0">
    <%= search_form_for @bill_q, url: bills_path, method: :get, local: true do |f| %>
      <%= f.search_field :title_cont, placeholder: "議案件名を検索", class: "rounded p-1 text-black" %>
      <%= f.submit "検索", class: "ml-1 bg-blue-500 hover:bg-blue-600 text-white px-2 py-1 rounded" %>
    <% end %>

    <%= search_form_for @politician_q, url: politicians_path, method: :get, local: true do |f| %>
      <%= f.search_field :name_cont, placeholder: "議員名を検索", class: "rounded p-1 text-black" %>
      <%= f.submit "検索", class: "ml-1 bg-blue-500 hover:bg-blue-600 text-white px-2 py-1 rounded" %>
    <% end %>

    <%= search_form_for @group_q, url: groups_path, method: :get, local: true do |f| %>
      <%= f.search_field :name_cont, placeholder: "会派名を検索", class: "rounded p-1 text-black" %>
      <%= f.submit "検索", class: "ml-1 bg-blue-500 hover:bg-blue-600 text-white px-2 py-1 rounded" %>
    <% end %>
  </div>
</nav>
