<!DOCTYPE html>
<html class="overflow-x-auto">
  <head>
    <title>BillsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", src: asset_path("application.js"), "data-turbo-track": "reload", defer: true %>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
  </head>
  <body class="p-4 min-w-[1300px]">
    <%= render "layouts/navbar" %>
    <%= yield %>
  </body>
  <footer>
    <p class="text-xs text-gray-500 mt-6">
    ※本ページに掲載している議案・議員情報は、以下のページより取得・引用しています。<br>
    衆議院ホームページ
    （<%= link_to "https://www.shugiin.go.jp/", "https://www.shugiin.go.jp/", target: "_blank", class: "underline" %>）
    参議院ホームページ
    （<%= link_to "https://www.sangiin.go.jp/", "https://www.sangiin.go.jp/", target: "_blank", class: "underline" %>）<br>
    ※国会211回次〜に審議された議案を中心に掲載していますが、過去に提出された議案で211回次以降に継続審議・再提出・会期をまたいだ議案も含みます。（一部表示されていない情報もあります）<br>
    ※上記ホームページに記載のない情報については表示していません。<br>
    ※議案の採決結果については、衆議院データは「会派単位の賛否」、参議院データは「議員単位の賛否」になっていますが、参議院の採決情報（採決時賛成・反対した議案）については公式ページの採決リンクの情報のみ取得しています。（全会一致や、多数といった表示の情報は取得していません。）<br>
    ※議案に関わる議員情報についても現国会議員のみの表示となっています。<br>
    </p>
  </footer>
</html>
