<!DOCTYPE html>
<html>
  <head>
    <title>BillsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  </head>
  <body class="p-4">
    <%= render "layouts/navbar" %>
    <%= yield %>
  </body>
</html>
