<!DOCTYPE html>
<html class="overflow-x-auto">
  <head>
    <title>BillsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
  </head>
  <body class="p-4 min-w-[1300px]">
    <%= render "layouts/navbar" %>
    <%= yield %>
  </body>
  <footer>
    <p class="text-xs text-gray-500 mt-6">
    ※本ページに掲載している情報は、以下のページより取得・引用しています。<br>
    衆議院ホームページ
    （<%= link_to "https://www.shugiin.go.jp/", "https://www.shugiin.go.jp/", target: "_blank", class: "underline" %>）
    参議院ホームページ
    （<%= link_to "https://www.sangiin.go.jp/", "https://www.sangiin.go.jp/", target: "_blank", class: "underline" %>）
    </p>
  </footer>
</html>
